*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Consolas, monospace;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    background:black;
}

#matrix{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:black;
}

#overlay{
    position:absolute;
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#00ff66;
    z-index:2;
}

#bootlogs{
    position:absolute;
    top:20px;
    left:20px;
    width:450px;
    font-size:18px;
    color:#00ff66;
    text-shadow:0 0 8px #00ff66;
}

#bootlogs p{
    margin:4px 0;
}

#center{
    text-align:center;
}

#codex{
    font-size:90px;
    color:white;
    letter-spacing:12px;
    animation:glitch .18s infinite;
}

@keyframes glitch{

0%{
transform:translate(0);
text-shadow:
-3px 0 red,
3px 0 cyan;
}

25%{
transform:translate(-2px,2px);
}

50%{
transform:translate(3px,-2px);
}

75%{
transform:translate(-3px,-1px);
}

100%{
transform:translate(0);
}

}

#progressBox{

margin-top:40px;

width:700px;

height:24px;

border:2px solid #00ff66;

}

#progress{

height:100%;

width:0%;

background:#00ff66;

box-shadow:0 0 20px #00ff66;

transition:.2s;

}

#percent{

margin-top:18px;

font-size:28px;

}

#homeButton{

position:fixed;

bottom:40px;

left:50%;

transform:translateX(-50%);

padding:18px 35px;

font-size:22px;

background:#00ff66;

color:black;

border:none;

border-radius:10px;

cursor:pointer;

display:none;

font-weight:bold;

box-shadow:0 0 25px #00ff66;

transition:.3s;

}

#homeButton:hover{

transform:translateX(-50%) scale(1.08);

}
#endMessage{
    position: fixed;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);
    text-align: center;
    z-index: 9999;
    display: none;
}

.foolText{
    color: white;
    font-size: 22px;
    margin: 15px 0;
}
